html {
  font-family: sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
}

#todo-form {
  margin: 4rem;
}

#todo-form > div {
  padding: 0.5rem;
}
#todo-form button {
  margin-top: 0.5rem;
  padding: 0.2rem;
}

#todo-text {
  margin-left: 4px;
}
